#contact {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: $color2;

  .image {
    order: 2;
    flex: 1 1 70rem;
    margin: 3rem;
    width: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .call-to-action {
    order: 1;
    flex: 1 1 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: $color5;
      font-family: $titleFont;
      font-size: 5rem;
    }

    a {
      background-color: $color3;
      color: $color5;
      padding: 2rem 3rem;
      font-size: 3rem;
      text-decoration: none;
      border-radius: 0.3rem;
      cursor: pointer;
    }
    a:focus {
      outline: none;
    }
  }
}
