#services {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: $color4;
  display: flex;
  flex-direction: column;

  align-items: center;
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 30px auto;

    h3 {
      font-size: 3rem;
      font-family: $mainFont;
      color: $color2;
    }
    h1 {
      font-size: 5rem;
      font-family: $titleFont;
      text-align: center;
    }
    p {
      font-size: 4rem;
      text-align: center;
      font-family: $textFont;
    }
  }
  .services-content {
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    height: auto;

    width: 70%;
    justify-content: center;
    align-items: center;

    .service {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin: 30px;
      padding: 30px;

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15rem;
        height: 15rem;
        background: $color2;
        border-radius: 50%;

        i {
          color: $color5;
          font-size: 8rem;
          text-align: center;
        }
      }
      span {
        font-size: 5rem;
        color: $color2;
        font-family: $mainFont;
        margin: 3rem;
      }
    }
  }
}
