$titleFont: "Overpass Mono", monospace;
$mainFont: "Overpass", sans-serif;
$textFont: "Open Sans", sans-serif;

$color1: #000000;
$color2: #14213d;
$color3: #fca311;
$color4: #e5e5e5;
$color5: #ffffff;
