body,
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  width: 100%;
  top: 0;
  color: #ffffff;
  z-index: 100;
  font-family: "Overpass", sans-serif;
}

.navbar .nav-left {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}

.navbar .nav-left h1 {
  font-size: 2.5rem;
  text-align: center;
}

.navbar .nav-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.navbar .nav-right .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-right .link-wrapper .link {
  list-style: none;
  padding-right: 2rem;
}

.navbar .nav-right .link-wrapper .link a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 900;
  font-size: 3rem;
}

#home {
  min-height: 100vh;
  padding-top: 10vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/backgroundImages/securitybackground.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/backgroundImages/securitybackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#home .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Overpass Mono", monospace;
}

#home .content h1 {
  color: #ffffff;
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
}

#home .content .content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

#home .content .content-info h4 {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  font-style: italic;
  font-family: "Overpass", sans-serif;
}

#about {
  min-height: 100vh;
  width: 100%;
  background-color: #14213d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .about-content {
  color: #ffffff;
  width: 90%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-content h1 {
  font-size: 5rem;
  font-family: "Overpass", sans-serif;
  padding: 20px;
  border-left: 5px solid #ffffff;
}

#about .about-content p {
  font-size: 3rem;
  text-align: center;
  width: 60%;
}

#about .benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 50px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .benefits .benefit-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  width: 200px;
  height: auto;
  font-size: 3rem;
  margin: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 3px;
}

#about .benefits .benefit-item .icon {
  width: 150px;
  height: 150px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e5e5e5;
  border-radius: 50%;
}

#about .benefits .benefit-item .icon i {
  color: #14213d;
  color: #fca311;
  font-size: 8rem;
}

#about .benefits .benefit-item .benefit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .benefits .benefit-item .benefit-content h3 {
  color: #14213d;
  font-family: "Overpass", sans-serif;
  width: 60%;
  border-bottom: 5px solid #14213d;
}

#about .testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 30px auto;
}

#about .testimonials .testimonial-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  width: 70%;
  height: 90%;
  margin: 30px auto;
  padding: 30px;
  background: #e5e5e5;
}

#about .testimonials .testimonial-wrapper img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

#about .testimonials .testimonial-wrapper p {
  font-size: 3rem;
  text-align: center;
  width: 75%;
  font-style: italic;
}

#about .testimonials .testimonial-wrapper span {
  font-size: 3rem;
  text-align: center;
  width: 75%;
  font-family: "Open Sans", sans-serif;
}

#services {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 30px auto;
}

#services .text-content h3 {
  font-size: 3rem;
  font-family: "Overpass", sans-serif;
  color: #14213d;
}

#services .text-content h1 {
  font-size: 5rem;
  font-family: "Overpass Mono", monospace;
}

#services .text-content p {
  font-size: 4rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#services .services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 500px;
  height: auto;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services .services-content .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  padding: 30px;
}

#services .services-content .service .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  background: #14213d;
  border-radius: 50%;
}

#services .services-content .service .icon-wrapper i {
  color: #ffffff;
  font-size: 5rem;
  text-align: center;
}

#services .services-content .service span {
  font-size: 5rem;
  color: #14213d;
  font-family: "Overpass", sans-serif;
}

#contact {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #14213d;
}

#contact .image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70rem;
          flex: 1 1 70rem;
  margin: 30px;
  width: 100%;
}

#contact .image img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

#contact .call-to-action {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70rem;
          flex: 1 1 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .call-to-action h1 {
  color: #ffffff;
  font-family: "Overpass Mono", monospace;
  font-size: 5rem;
}

#contact .call-to-action a {
  background-color: #fca311;
  color: #ffffff;
  padding: 20px 30px;
  font-size: 3rem;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
}

#contact .call-to-action a:focus {
  outline: none;
}

footer {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #14213d;
}

footer .footer-wrapper .column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

footer .footer-wrapper .column1 h3 {
  font-size: 3rem;
  font-family: "Overpass", sans-serif;
  font-weight: 900;
  border-bottom: 4px solid #fca311;
}

footer .footer-wrapper .column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  text-align: end;
  height: 100%;
  width: 100%;
}

footer .footer-wrapper .column2 h3 {
  font-size: 3rem;
  font-family: "Overpass", sans-serif;
  font-weight: 900;
  border-bottom: 4px solid #fca311;
}

footer .footer-wrapper .column2 a {
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
}

footer .footer-wrapper .column3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 100%;
}

footer .footer-wrapper .column3 h3 {
  font-size: 3rem;
  font-family: "Overpass", sans-serif;
  font-weight: 900;
  border-bottom: 4px solid #fca311;
}

footer .footer-wrapper .column3 a {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #14213d;
}
/*# sourceMappingURL=index.css.map */